---
---

@import "minimal-light-no-dark-mode";
@import "publications-no-dark-mode";

/* 1. Expand the master container */
.wrapper {
  max-width: 1500px; /* Increased slightly more for the extra spacing */
  margin: 0 auto;
  position: relative;
}