---
---

@import "minimal-light-no-dark-mode";
@import "publications-no-dark-mode";

.page-content,
body > div,
body > main,
main,
.post,
.home,
.content {
  max-width: 1100px !important;
  padding-left: 10px !important;
  padding-right: 10px !important;
}