---
---

@import "minimal-light";
@import "publications";

/* ↓ ADD THIS BELOW THE IMPORTS ↓ */
.page-content,
body > div,
body > main,
main,
.post,
.home,
.content {
  max-width: 1100px !important;
  margin-left: auto !important;
  margin-right: auto !important;
  padding-left: 10px !important;
  padding-right: 10px !important;
}

// .image.avatar img {
//     width: 85%;
//     border-radius: 15%;
//     margin: 20px 10px;
//     padding: 0;
// }

body {  background: red !important;}