---
---

@import "minimal-light-no-dark-mode";
@import "publications-no-dark-mode";

.two-column-wrapper {
  display: flex;
  align-items: flex-start;
  gap: 40px;
}

/* sidebar */
.two-column-wrapper > header {
  flex: 0 0 260px;
}

/* main content */
.two-column-wrapper > main {
  flex: 1;
  max-width: 1100px;
}