---
---

@import "minimal-light";
@import "publications";

/* REMOVE ABSOLUTE OR FIXED POSITIONING */
header {
  position: static !important;  
  float: left;
  width: 260px;
  margin-right: 40px;
}

/* PUSH MAIN CONTENT TO THE RIGHT SO IT DOESN'T SIT UNDER HEADER */
main {
  margin-left: 300px;   /* 260 + 40 */
  display: block;
  max-width: 900px;
}